<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <title>JoJoBi's Money Manager</title>
    <link rel="stylesheet" th:href="@{/lib/skeleton/normalize.css}" />
    <link rel="stylesheet" th:href="@{/lib/skeleton/skeleton.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div class="container" th:fragment="header">
        <div class="row">
            <div class="ten columns">
                <ul class="navigation">
                    <li class="navigation-item">
                        <br>
                        <a href="/">My Accounts</a>
                    </li>
                    <li class="navigation-item">
                        <br>
                        <a href="/categories">Transaction Categories</a>
                    </li>
                </ul>
                <div style="clear: both">&nbsp;</div>
            </div>
            <div class="two columns">
                <img src="/images/logo.png" alt="JoJoBi's Money Manager" width="255" height="135">
            </div>
        </div>
    </div>

</body>
</html>