<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <title>JoJoBi's Money Manager</title>
    <link rel="stylesheet" th:href="@{/lib/skeleton/normalize.css}" />
    <link rel="stylesheet" th:href="@{/lib/skeleton/skeleton.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:fragment="header">
        <ul class="navigation">
            <li class="navigation-item">
                <a href="/">My Accounts</a>
            </li>
        </ul>
        <div style="clear: both">&nbsp;</div>
        <h1>JoJoBi's Money Manager</h1>
    </div>

</body>
</html>