<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*@thymesVar id="category" type="com.jojobi.mm.model.Category"*/-->
        <!--/*@thymesVar id="addMode" type="java.lang.Boolean"*/-->
        <h3 th:text="${addMode} ? 'Add new Transaction Subcategory' : 'Modify Transaction Category'">
            Modify Transaction Category
        </h3>
    </div>

    <div class="container">
        <form th:object="${category}" method="post" enctype="multipart/form-data"
              th:action="'/category'">
            <div class="ten columns">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{group}">
                <label for="nameInput">Name</label>
                <input class="u-full-width" type="text" id="nameInput" th:field="*{name}">
                <label for="descriptionInput">Description</label>
                <input class="u-full-width" type="text" id="descriptionInput" th:field="*{description}">
                <br>
                <input class="button-primary" type="submit" name="action" th:value="${addMode} ? 'Add' : 'Update'"/>
                <input class="button-primary" type="submit" name="action" value="Save As New" th:if="!${addMode}"/>
            </div>
        </form>
    </div>
</body>
</html>
