<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*@thymesVar id="counterpart" type="com.jojobi.mm.model.Counterpart"*/-->
        <!--/*@thymesVar id="account" type="com.jojobi.mm.info.Account"*/-->
        <h2 th:text="${'Counterpart: ' + counterpart.getName()}">Grocer's Shop</h2>

        <p th:text="${'Creditor Id: ' + counterpart.getCreditorId()}">Creditor Id: DE873VVV0987598762</p>
        <p th:text="${'Number of Transactions: ' + counterpartService.getNumberOfTransactions(counterpart)}">Number of Transactions: 12</p>
        <br>

        <p>Accounts:</p>
        <table id="accounts" class="u-full-width">
            <thead>
            <tr>
                <th>ISIN</th>
                <th>BIC</th>
                <th>Transactions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account: ${counterpart.getAccounts()}">
                <td th:text="${account.getIsin()}">
                    DE12345678901234
                </td>
                <td th:text="${account.getBic()}">
                    LESWEAXXXX
                </td>
                <td>
                    <a th:text="${counterpartService.getNumberOfTransactions(account)}"
                       th:href="@{'/transactions/' + ${account.getId()}} + '?foreign=true'">
                        12
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
