<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*-->
        <!--@thymesVar id="counterpart" type="com.jojobi.mm.model.LegalEntity"-->
        <!--@thymesVar id="account" type="com.jojobi.mm.info.Account"-->
        <!--@thymesVar id="myAccount" type="com.jojobi.mm.info.Account"-->
        <!--*/-->

        <h3>
            Counterpart:
            <span th:text="${counterpart.getName()}">Grocer's Shop</span>
        </h3>

        Creditor Id:
        <div th:text="${counterpart.getCreditorId()}">DE873VVV0987598762</div>

        Transactions:
        <a th:text="${legalEntityService.getNumberOfTransactions(myAccount, counterpart, null)}"
           th:href="@{'/transactions/' + ${myAccount.getId()} + '?counterpart_id=' + ${counterpart.getId()}}">
            42
        </a>

        <br>
        <br>
        <strong>Accounts: </strong>
        <table id="accounts" class="u-full-width">
            <thead>
            <tr>
                <th>ISIN</th>
                <th>BIC</th>
                <th>Transactions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account: ${counterpart.getAccounts()}">
                <td th:text="${account.getIsin()}">
                    DE12345678901234
                </td>
                <td th:text="${account.getBic()}">
                    LESWEAXXXX
                </td>
                <td>
                    <a th:text="${legalEntityService.getNumberOfTransactions(myAccount, counterpart, account)}"
                       th:href="@{'/transactions/' + ${myAccount.getId()} + '?counterpart_id=' + ${counterpart.getId()} + '&counterpart_account_id=' + ${account.getId()}}">
                        12
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
