<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*@thymesVar id="myself" type="com.jojobi.mm.model.Counterpart"*/-->
        <!--/*@thymesVar id="accountInfos" type="java.util.List"*/-->
        <!--/*@thymesVar id="accountInfo" type="com.jojobi.mm.info.AccountInfo"*/-->

        <h3>My Accounts</h3>
        <table id="accounts" class="u-full-width">
            <thead>
                <tr>
                    <th>ISIN</th>
                    <th>BIC</th>
                    <th>Transactions</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accountInfo: ${accountInfos}">
                    <td>
                        <a th:text="${accountInfo.getAccount().getIsin()}" th:href="@{'/transactions/' + ${accountInfo.getAccount().getId()}}">DE12345678901234
                        </a>
                    </td>
                    <td th:text="${accountInfo.getAccount().getBic()}">OHNOLADEXXXX</td>
                    <td th:text="${accountInfo.getNumberOfTransaction()}">100</td>
                    <td th:text="${accountInfo.getFrom()}">2020-01-01</td>
                    <td th:text="${accountInfo.getTo()}">2020-05-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
