<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Money Manager</title>
    <link rel="stylesheet" href="/lib/skeleton/normalize.css" />
    <link rel="stylesheet" href="/lib/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <div class="container">
        <ul class="navigation">
            <li class="navigation-item">
                <a href="/">Start</a>
            </li>
        </ul>
        <div style="clear: both">&nbsp;</div>

        <h1>My Money Manager</h1>
        <!--/*@thymesVar id="myself" type="com.jojobi.mm.model.Counterparty"*/-->
        <!--/*@thymesVar id="accountInfos" type="java.util.List"*/-->
        <!--/*@thymesVar id="accountInfo" type="com.jojobi.mm.info.AccountInfo"*/-->
        <h2 th:text="${'List of Accounts: ' + myself.getName()}">List of Accounts: My Name</h2>

        <table id="accounts" class="u-full-width">
            <thead>
                <tr>
                    <th>ISIN</th>
                    <th>BIC</th>
                    <th>Transactions</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="accountInfo: ${accountInfos}">
                    <td>
                        <a th:text="${accountInfo.getAccount().getIsin()}" th:href="@{'/transactions/' + ${accountInfo.getAccount().getId()}}">DE12345678901234
                        </a>
                    </td>
                    <td th:text="${accountInfo.getAccount().getBic()}">OHNOLADEXXXX</td>
                    <td th:text="${accountInfo.getNumberOfTransaction()}">100</td>
                    <td th:text="${accountInfo.getFrom()}">2020-01-01</td>
                    <td th:text="${accountInfo.getTo()}">2020-05-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
