<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*@thymesVar id="natures" type="java.util.List"*/-->
        <!--/*@thymesVar id="nature" type="com.jojobi.mm.model.Nature"*/-->
        <h3>
            Transaction Natures:
        </h3>

        <table id="natures" class="u-full-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Number of Subnatures</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nature: ${natures}">
                    <td th:text="${nature.getName()}">Name of transaction nature</td>
                    <td th:text="${nature.getDescription()}">Description of transaction nature</td>
                    <td>
                        <a th:text="${nature.getSubNatures().size()}"
                           th:href="@{'/nature/' + ${nature.getId()}}">5
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
