<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles">
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header"> </header>

        <!--/*@thymesVar id="account" type="com.jojobi.mm.model.Account"*/-->
        <!--/*@thymesVar id="transactions" type="java.util.List"*/-->
        <!--/*@thymesVar id="transaction" type="com.jojobi.mm.model.Transaction"*/-->
        <h3>
            Transactions on account:
            <span th:text="${account.getIsin()}">DE983216464912143</span>
        </h3>

        <table id="transactions" class="u-full-width">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Counterpart</th>
                    <th>Text</th>
                    <th>Amount</th>
                    <th>ValueDate</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transaction: ${transactions}">
                    <td th:text="${transaction.getType()}">Debit</td>
                    <td>
                        <a th:text="${transaction.getCounterpart().getName()}"
                           th:href="@{'/legalEntity/' + ${transaction.getCounterpart().getId()}}">Grocer's Shop
                        </a>
                    </td>

                    <td th:text="${transaction.getText()}">Shopping bill</td>
                    <td th:text="${transaction.getAmount()}">100</td>
                    <td th:text="${transaction.getValueDate()}">2020-01-11</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
